.transform{
    transition-duration: 0.5s;
    transform-origin: top;
}

.transform:hover{
    transform: translateY(-50px)
}

.back-to-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}