@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
.first-div {
    position: relative;
}
.img-fluid {
    background-size: contain;
    width: 100%;
}
h1 {
    position: absolute;
    top: 25%;
    left: 10%;
    white-space: pre-wrap;
}
@media (min-width: 1400px) {
    h1 {
        position: absolute;
        left: 20%;
    }
}
.ol-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
nav {
    position: absolute;
    top: 45%;
    left: 10%;
}
@media (min-width: 1400px) {
    nav {
        position: absolute;
        left: 20%;
    }
}
@media (max-width: 1400px) {
    nav {
        position: absolute;
        top: 50%;
    }
}
@media (max-width: 1000px) {
    nav {
        position: absolute;
        top: 55%;
    }
}
@media (max-width: 650px) {
    nav {
        position: absolute;
        top: 60%;
    }
}
@media (max-width: 480px) {
    nav {
        position: absolute;
        top: 70%;
    }
}
nav ol {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
.be-red {
    color: hsla(290, 100%, 24%, 1);
}
nav ol li a {
    text-decoration: none;
    color: black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
nav ol li a:hover {
    color: hsla(290, 100%, 24%, 1);
    transform: scale(2);
}

/* second part */

.this-shouldbe-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
.this-is-parent {
    position: relative;
    width: 40vw;
}
.sport-shoes {
    box-shadow: 1vw 1vw 2px 2px white;
    border-radius: 10px;
    background-size: contain;
    width: 17vw;
    position: absolute;
    top: -40px;
    left: -40px;
    align-self: center;
}
.sport-girl {
    background-size: contain;
    width: 40vw;
    align-self: center;
}
@media (max-width: 740px) {
    .sport-shoes {
        position: absolute;
        top: -20px;
        left: -30px;
    }
}
@media (min-width: 1645px) {
    .sport-shoes {
        position: absolute;
        top: -50px;
        left: -90px;
    }
}
@media (min-width: 1648px) {
    .this-is-parent {
        background-size: contain;
        width: 655px;
    }
}
#TROUSERS {
    background-size: contain;
    width: 7vw;
}
.this-shouldbe-purple {
    background-color: hsla(290, 100%, 33%, 1);
}
.white-h2 {
    margin-top: 60px;
}
.this-p {
    white-space: pre-wrap; 
}
.this-a {
    margin-bottom: 60px;
    margin-left: 24vw;
}
#this-a:hover {
    background-color: hsla(290, 100%, 24%, 1);
}
@media (max-width: 992px) {
    .this-a {
        margin-left: 50vw;
    }
}
@media (max-width: 540px) {
    .this-a {
        margin-left: 30vw;
    }
}
.this-shouldbe-gray {
    background-color: hsla(290, 0%, 77%, 1);
}
#have-top-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}